<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>PlanarDisplay</FriendlyName>
    <SystemName>PlanarDisplay</SystemName>
    <EntryPoint>PlanarDisplay</EntryPoint>
    <DesignToolId>6</DesignToolId>
    <ProgramToolId>6</ProgramToolId>
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>2026-03-05T13:33:24.000-06:00</CompiledOn>
    <CompilerRev>0.0.0.0</CompilerRev>
  </OptionalInfo>
  <Plugin>
    <Include4.dat>2.21.184</Include4.dat>
  </Plugin>
</ProgramInfo>