<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>ShureMxa920</FriendlyName>
    <SystemName>ShureMxa920</SystemName>
    <EntryPoint>ShureMxa920</EntryPoint>
    <DesignToolId>6</DesignToolId>
    <ProgramToolId>6</ProgramToolId>
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>2026-03-05T13:33:32.000-06:00</CompiledOn>
    <CompilerRev>0.0.0.0</CompilerRev>
  </OptionalInfo>
  <Plugin>
    <Include4.dat>2.18.82</Include4.dat>
  </Plugin>
</ProgramInfo>